In [3]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing 
from sklearn.model_selection import train_test_split

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score

from sklearn.tree import DecisionTreeClassifier

In [2]:
chess=pd.read_csv('games.csv')

In [4]:
chess.columns

Index(['id', 'rated', 'created_at', 'last_move_at', 'turns', 'victory_status',
       'winner', 'increment_code', 'white_id', 'white_rating', 'black_id',
       'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply'],
      dtype='object')

In [7]:
features=chess.filter(items=['rated','turns','victory_status']) 
labels=chess.filter(items=['winner'])

In [8]:
features.head()

   rated  turns victory_status
0  False     13      outoftime
1   True     16         resign
2   True     61           mate
3   True     61           mate
4   True     95           mate

In [9]:
labels.head()

  winner
0  white
1  black
2  white
3  white
4  white

In [10]:
features_oh=pd.get_dummies(features,columns=['rated','victory_status'])

In [11]:
features_oh

,turns,rated_False,rated_True,victory_status_draw,victory_status_mate,victory_status_outoftime,victory_status_resign
0,13,1,0,0,0,1,0
1,16,0,1,0,0,0,1
2,61,0,1,0,1,0,0
3,61,0,1,0,1,0,0
4,95,0,1,0,1,0,0
...,...,...,...,...,...,...,...
20053,24,0,1,0,0,0,1
20054,82,0,1,0,1,0,0
20055,35,0,1,0,1,0,0
20056,109,0,1,0,0,0,1
20057,78,0,1,0,1,0,0

In [12]:
def normalize(val):
    val=(val-np.min(val))/(np.max(val)-np.min(val))
    return val
features_oh['turns']=normalize(features_oh['turns'])
features_oh.head()

,turns,rated_False,rated_True,victory_status_draw,victory_status_mate,victory_status_outoftime,victory_status_resign
0,0.034483,1,0,0,0,1,0
1,0.043103,0,1,0,0,0,1
2,0.172414,0,1,0,1,0,0
3,0.172414,0,1,0,1,0,0
4,0.270115,0,1,0,1,0,0

In [14]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(features_oh,labels,test_size=0.20, shuffle=False)

In [17]:
classifier=DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [22]:
from sklearn import metrics
y_pred = classifier.predict(x_test)

metrics.accuracy_score(y_test,y_pred)

0.8975573280159521